.minecraft/.ReAuth.cfg
.minecraft/.minecraft.zip
.minecraft/MTUtilsData.nbt
.minecraft/OpenComputersMod-1.7.4.1265-lua52-native.64.dll
.minecraft/OpenComputersMod-1.7.4.1265-lua53-native.64.dll
.minecraft/ProspectorJournal
.minecraft/asm
.minecraft/backups
.minecraft/coremods
.minecraft/crash-reports
.minecraft/hs_err_pid19292.log
.minecraft/hs_err_pid6152.log
.minecraft/journeymap
.minecraft/logs
.minecraft/mod-list.txt
.minecraft/modpack
.minecraft/.mixin*
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/servers.dat
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/usernamecache.json

.minecraft/backups
.minecraft/CustomSkinLoader
.minecraft/minetweaker.log
.minecraft/OpenComputersMod-1.7.5.1356-lua52-native.64.dll
.minecraft/OpenComputersMod-1.7.5.1356-lua53-native.64.dll
.minecraft/1213309934
.minecraft/stats
.minecraft/XaeroWorldMap
.minecraft/XaeroWaypoints_BACKUP032021
.minecraft/local
.minecraft/CustomSkinLoader
.minecraft/config/NEI/bookmarks.ini
.minecraft/offlineauth/ClientCache
.minecraft/offlineauth/ClientKeys
.minecraft/offlineauth/lastcape
.minecraft/offlineauth/lastskin
.minecraft/offlineauth/serverdata.json
.minecraft/XaeroWaypoints
.minecraft/minetweaker.log
.minecraft/TimeUsage.txt